<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="./javascripts/javascripts.js"></script>
<script>

</script>
<head>
<body>

<form action="/" method="post">
    <label type="url" id="link_label" onclick="copyToClipboard(document.getElementById('link_label'));">Put Your Url In</label>
    <input type="text" name="firstname">
    <input type="submit">
</form>

</body>
</html>
